<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.flights.repository.FlightRepository" >
    
    <!-- Search query -->
    <select id="fltsearch" parameterType="com.example.flights.model.FlightModel" resultType="com.example.flights.model.FlightModel">
        SELECT * FROM flights
    </select>

    <!-- Delete query -->
    <delete id="Delflight" parameterType="com.example.flights.model.FlightModel">
        DELETE FROM flights WHERE flt_no=#{fltno}
    </delete>

    <!-- Create query -->
    <insert id="fltcreate" parameterType="com.example.flights.model.FlightModel">
        INSERT INTO flights (flt_no,sch_date,user_id) VALUES (to_char(#{schDate),#{fltno},#{userid})
    </insert>

    <!-- Save query (update) -->
    <update id="fltsave" parameterType="com.example.flights.model.FlightModel">
        UPDATE flights SET user_id  WHERE  flt_no=#{fltno}
    </update>

</mapper>